{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-unused-vars": [2, {
            "vars": "local",
            "args": "none"
        }],
        "react/jsx-uses-vars": [2],
        "react/prop-types": [2],
        "react/jsx-uses-react": "error",
        "quotes": [2, "double"],
        "comma-dangle": "off"
    },
    "env": {
        "browser": true,
        "jasmine": true
    },
    "globals": {
        "shallow": true
    },
    "extends": ["airbnb-base"]
}